.login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border-bottom: 6px solid var(--banner-border-stripe);
}

.login__logo {
  width: 100px;
  height: 100px;
}

.login__title {
  font-weight: 300;
  margin: 30px 0;
}
