.chat__body {
  flex: 1;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(220, 212, 205);
}
